# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Logs
logs
*.log
logs/
debug.log
error.log
pm2.log
pm2.pid
pm2.out.log
pm2.err.log

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Cache files
.cache/
.nyc_output/
coverage/
dist/
build/
.DS_Store

# Temporary files
*.swp
*.swo
*.bak
*.tmp

# Editor & OS-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
Thumbs.db

# Docker & Deployment
docker-compose.override.yml
docker-compose.yml
.Dockerfile
.dockerignore

# Miscellaneous
uploads/
